.pyc
.log

/logs/
/data/
__pycache__/
/slurm

/my_data/
/my_logs/
/tests/

/knnlm/checkpoints/
/knnlm/data-bin/

/dpr/DPR/dpr/downloads
/dpr/pretrained_models
/dpr/outputs

/contriever/atlas_data/models/
/contriever/atlas_data/experiments/reason/

/dsp/atlas_data/models/
/dsp/atlas_data/experiments/reason/
