.pyc
.log

/logs/
/data/
__pycache__/
/slurm

/my_data/

/knnlm/checkpoints/
/knnlm/data-bin/

/dpr/DPR/dpr/downloads
/dpr/pretrained_models
/dpr/outputs

/contriever/atlas_data/models/
/contriever/atlas_data/experiments/reason/
